<% content_for :title do %>
<title><%= t('dashboard.left.change_password')%></title>
<% end %>

<% content_for :javascript do %>
<script>
</script>
<% end %>
<% if flash[:error] %>
<div class="alert"><%= flash[:error] %></div>
<% end %>

<div class="main container padding">
  <%= render 'left' %>

  <!-- 页面内容 -->
  <div class="page">
    <div class="icon"><img src="https://assets.zjzsxhy.com/upload/583c6cf1-1961-4db7-a53a-603c34458030.svg" alt=""></div>
      <%= form_for :recover_password, url: { controller: 'dashboard' ,action: "change_password", locale: params[:locale] } do |f| %>
      <div class="row email" data-label="E-mail">
        <span class="email"><%= current_user.email %></span>
      </div>
      <div class="row" data-label="<%= t('old_password') %>">
        <%= f.password_field :old_password, required: 'required' %>
      </div>
      <div class="row" data-label="<%= t('password')%>">
        <%= f.password_field :password, required: 'required' %>
      </div>
      <div class="row submit">
        <button><%= t('dashboard.submit')%></button>
      </div>
    <% end %>
  </div>
</div>