<% content_for :title do %>
<title><%= t('case.edit')%></title>

<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'editor.js' %>
<% end %>
<script>
    window.PAGE_DATA = <%= raw (@case.detail_i18n_show || {
      type: 'Config',
      data: {
        pageBackground: '#100e0f',
        textColor: '#fcb141',
        maxContainerWidth: 1200,
      }
    }.to_json) %>
</script>
  <div class="alert">
    <div class="opt">
      <button class="editor-btn active"><%= t('company.edit.edit_mode')%></button>
      <button class="preview-btn"><%= t('company.edit.preview_mode')%></button>
    </div>
  </div>
  <div id="editor-main" class="container padding">
    <div id="holder"></div>
  </div>
  <div class="page-save container padding">
    <button id="save"><%= t('company.edit.submit')%></button>
  </div>
<%= form_for @case do |f|%>
  <%= f.hidden_field I18n.locale == :en ? 'detail_en' : 'detail'%>
<% end %>


<% if I18n.locale == :en %>
<script>
  window.PAGE_SAVE = function (data) {
    // TODO: 保存数据
    console.log(data);

    document.getElementById("case_detail_en").value = JSON.stringify(data);
    document.getElementsByClassName('edit_case')[0].submit();
  }
</script>
<% else %>
  <script>
  window.PAGE_SAVE = function (data) {
    // TODO: 保存数据
    console.log(data);

    document.getElementById("case_detail").value = JSON.stringify(data);
    document.getElementsByClassName('edit_case')[0].submit();
  }
</script>
<% end %>

  