<% content_for :title do %>

<% if params[:locale] == 'en' %>
  <title>Canton Fair PDC Online</title>
<% else %>
  <title>广交会线上PDC</title>
<% end %>

<style>
#index .pads .r2 .pad-banner .swiper-slide::after {
  background: none;
}

.marquee{
  display: block;
  line-height: 3em;
}
.marquee a{
  margin: 0 20px;
  color: #ffffff;
}
.marquee a:hover{
  text-decoration: underline;
}
</style>
<% end %>

<% content_for :javascript do %>
<%= javascript_include_tag "home.js" %>
<% end %>

<%- if @notification.present? %>
  <marquee class="marquee" width="100%" scrollamount="8" bgcolor="#03BEBF">
    <a href="javascript:void(0);"><%= @notification.body %></a>
  </marquee>
<%- end %>

<div class="header-banner">
  <!-- TODO: 大Banner，图片 -->
  <div class="swiper-wrapper">
  <% @banners.each do |banner| %>
    <div class="swiper-slide"><%= link_to banner.url, "data-track" => "首页大广告|点击|#{banner.url}" do %>
      <img src=<%= banner.image.url %> alt="">
    <% end %>
    </div>
  <% end %>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<!-- TODO: 内容调整 -->

<div class="pads container padding">
  <div class="content">
    <div class="r1">
      <div class="t1"><%= t(:home_recommend_company)%></div>
    </div>
    <div class="r2" >
      <div class="pad-banner">
        <!-- TODO: Pad展示海报数据 -->
        <div class="swiper-wrapper">
        <% @banner_companies.each do |info| %>
          <%= link_to info.url, :style => 'width:100%;height:100%', :class => "swiper-slide" do%>
          <div class="swiper-slide" style="background-image: url(<%= info.image.url%>);">
          </div>
            <% end %>
        <% end %>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="nine-palaces">
        <!-- TODO: 9宫格，图片，链接 -->
        <% @vip_design_companies.in_groups_of(3) do |companies|%>
            <div class="row">
              <% companies.each do |company|%>
              <% next unless company %>
                <a href="<%= company_path(company.id) %>" class="palace">
                  <img src="<%= company.logo&.url %>" alt="" style="max-width:90%;max-height:90%">
                </a>
              <%end%>
              <% if companies.compact.length < 3%>
                <%= link_to companies_path do %>
                <span>
                <%= t('more_design_company') %> 
                </span>
                <% end %>
                
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="r3">
      <div class="b1">
        <div>
        <% if I18n.locale == :en %>
        <%= image_tag 'home_find_image_en.svg' %>
        <% else %>
        <%= image_tag 'home_find_image.svg' %>
          
        <% end %>
        </div>
        <div><a href="<%= demands_path %>"><button><%= t('one_key_request')%></button></a></div>
      </div>
      <div class="b2">
        <img src="https://assets.zjzsxhy.com/upload/64e889b7-94d5-4fc2-98eb-45b2e9f5ec17.svg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="live" style="background-image: url(<%= image_url('home_fashion_week.png')%>);background-size: cover;background-repeat: no-repeat;background-position: top left;">
  <div class="title container padding">
    <div class="title-content" style="background-image: none !important">
      <%# <div class="t1" style="font-size: 50px;">CANTON FAIR</div>
      <div class="t2" style="width: 100%;align-items: baseline;"><div class="s1" style="font-size: 30px;font-weight: 600">广交会时尚周</div><div class="s2" style="font-size: 50px;">FASHION WEEK</div></div> %>
      <%# <div class="t3"><div class="s1"><span>2020</span></div><div class="s2">广交会时尚周</div></div> %>
      <%= image_tag('home_fashion_week_content.png')%>
    </div>
  </div>
  <div class="container padding">
    <div class="content">
      <div class="b1">
        <!-- TODO: -->
        <%= link_to lives_path(:classify => 'canton_fair', :locale => params[:locale]) do%>
          <%= image_tag "live.jpg"%>
        <% end %>
        
      </div>
      <div class="b2">
        <!-- TODO: 直播12宫格，图片，链接 -->
        <% @vip_clothing_companies.in_groups_of(3) do |companies|%>
            <div class="row">
              <% companies.each do |company|%>
              <% next unless company %>
                <a href="<%= company_path(company.id) %>" class="palace">
                  <img src="<%= company.logo&.url %>" alt="">
                </a>
              <%end%>
              <% if companies.compact.length < 3%>
                <%= link_to fashion_weeks_path, :class => 'palace' do %> 
                <span><%= t('more_clothing_company') %></span>
                <% end %>
                
              <% end %>  
            </div>
        <% end %>
      </div>
    </div>
    <% if @home_function_weeks.present? %>
      <div class="live-ad-banner">
        <!-- TODO: 大Banner，图片 -->
        <div class="swiper-wrapper">
        <% @home_function_weeks.each do |banner| %>
          <%= link_to banner.url, :style => 'width:100%;height:100%', :class => "swiper-slide" do%>
            <div class="swiper-slide"><img src=<%= banner.image.url %> alt=""></div>
          <% end %>
        <% end %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      
    <% end %>
  </div>
</div>
<div style="background-color: #fffbb2">
<div class="events container padding" style="margin-bottom: 0px;">
  <div class="content">
    <%# <div class="event-title-img"><img src="https://assets.zjzsxhy.com/upload/eaccd1db-1256-4401-bff1-6493eaf8ef21.png" alt=""></div> %>
    <div class="left">
      <!-- TODO: 活动，标题，图片，链接 -->
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="b1">
            <img src="https://assets.zjzsxhy.com/upload/52820155-39b6-4ad0-80be-6cb7a0b8366a.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="right">
      <div class="event-title-img" style="position: relative; margin-top: 30px; margin-left: 30px"><%= image_tag 'nongye.png', :style => 'height: 40px' %></div>
      <div class="b2" style="bottom: auto;padding-left: 0;padding-top:30px">
        <div style="background: url(<%= image_url 'nongye_bg.jpg' %>);-moz-background-size:100% 100%;background-size:100% 100%;  ; height: 240px">
          <div class="t1" style="color:#fff;bottom:0;position:absolute;margin-bottom:30px;padding-left:30px;<%= params[:locale] == 'en' ? "margin-bottom:60px;width: 550px;" : "width: 350px;" %>"><%= t('design_activities_description') %></div>
        </div>
        <div class="more" style="text-align:left;padding-left:30px;padding-top:30px"><a href="<%= design_activities_path %>" style="text-aligin:center;color:#000"><%= t('more') %></a></div>
      </div>
    </div>
  </div>
</div>
</div>
<div style="background-color: #fffbb2">
<div class="live-ads container padding" style="<%= 'display:none;' unless @banner_lives.present? %>">
  <div class="content">
    <!-- TODO: 直播广告，标题，图片，链接 -->
    <div class="swiper-wrapper">
      <% @banner_lives.each do |banner|%>
        <%= link_to banner.url, :style => 'width:100%;height:100%', :class => "swiper-slide" do%>
          <div class="swiper-slide" style="background-image: url(<%= banner.image.url%>);">
            <%# <span></span> %>
          </div>
        <% end %>
          
      <% end %>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
</div>

<div class="publish container padding">
  <div class="title">
    <div class="t1"><%= t('News') %></div>
    <div class="t2"><%= t('home_new_description')%></div>
  </div>
  
  <% if @vip_news.present? %>
    <div class="content">
      <!-- TODO: 发布中心数据，图片，标题，简介，链接，时间 -->
      <div class="b1">
        <a href="<%= news_path(@vip_news[0]) %>">
          <div class="cover" style="background-image: url(<%= @vip_news[0]&.image&.url %>);">
          </div>
        </a>
        <div class="text">
          <div class="t1"><%= @vip_news[0]&.name_i18n_show %></div>
          <div class="desc"><%= raw @vip_news[0]&.home_description %></div>
          <div class="info">
            <div class="more"><a href="<%= news_path(@vip_news[0]&.id) %>"><%= t('more_news') %></a></div>
            <div class="time"><%= @vip_news[0]&.created_at&.strftime("%Y-%m-%d") %></div>
          </div>
        </div>
      </div>
      <div class="b2">
      <% @vip_news.drop(1).each do |new_info| %>
        <div class="row">
          <a href="<%= news_path(new_info) %>">
            <div class="cover" style="background-image: url(<%= new_info&.image&.url %>);">
            </div>
          </a>
          <div class="text">
            <div class="t1"><%= new_info&.name_i18n_show %></div>
            <div class="desc"><%= raw new_info&.home_description %></div>
            <div class="info">
              <div class="more"><a href="<%= news_path(new_info&.id) %>"><%= t('more_news') %></a></div>
              <div class="time"><%= new_info&.created_at&.strftime("%Y-%m-%d") %></div>
            </div>
          </div>
        </div>
        
      <% end %>
    </div>
    </div>
  <% end %>

</div>
<div class="friends">
  <div class="t1"><%= t('friend_links') %></div>
  <div class="t2"><%= t('friend_link_description') %></div>
  <div class="content container padding">
    <!-- TODO: 友情链接，图片，链接 -->
    <% @links.each do |link| %>
      <%= link_to link.url do%>
        <%= image_tag link.image&.url.presence || '' %>
      <% end %>
    <% end %>
  </div>

  <% if params[:locale] == 'en' %>
    <div class="fixed-ad"><a href="http://www.cgbchina.com.cn/cantonfair/en" target="_blank" data-track="右侧广告|点击|http://www.cgbchina.com.cn/cantonfair/en"><img src="<%= image_url 'float_window.png'%>"></a></div> 
<!--     <div class="fixed-ad left"><a href="https://www.tradeaider.com/" target="_blank" data-track="左侧广告|点击|https://www.tradeaider.com/"><img src="https://assets.zjzsxhy.com/upload/944664c1-e908-4bf9-bc3e-47f2b1023c3d.gif"></a></div>  -->
<% else %>
    <div class="fixed-ad"><a href="http://www.cgbchina.com.cn/cantonfair/" target="_blank" data-track="右侧广告|点击|http://www.cgbchina.com.cn/cantonfair"><img src="<%= image_url 'float_window.png'%>"></a></div> 
<!--     <div class="fixed-ad left"><a href="https://www.tradeaider.com/" target="_blank" data-track="左侧广告|点击|https://www.tradeaider.com/"><img src="https://assets.zjzsxhy.com/upload/89979d32-ca72-4f37-a53a-ddf7ed531d4d.gif"></a></div>  -->
<% end %>
</div>