<% content_for :title do %>
<title><%= t('FashionWeek')%></title>
<style type="text/css">
<%# .brands.container {
  margin: 40px 0;
}
.news.container {
  margin: 40px 0;
} %>
</style>
<% end %>

<% content_for :javascript do %>
<%= javascript_include_tag "week.js" %>
<% end %>

<!-- TODO: 广告，图片 -->
<div class="header-banner">
  <!-- TODO: 大Banner，图片 -->
  <div class="swiper-wrapper" >
  <% @banners.each do |banner| %>
    <div class="swiper-slide"><%= link_to banner.url do %>
      <img src=<%= banner.image.url %> alt="">
    <% end %>
    </div>
  <% end %>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
<div class="events container padding" style="<%= @banners.present? ? '' : 'margin-top: 0'%>">
  <%= link_to lives_path(:classify => 'canton_fair', :locale => params[:locale]) do%>

  <div class="live" style="background-image: url(<%= image_url "fashion_weeks_1.jpg"%>);">
    <div class="play-btn">
      <div>
        <div class="i"><img src="https://assets.zjzsxhy.com/upload/69bfc70d-e0d0-4b75-bc9a-03c5081e0334.svg" alt=""></div>
        
        <% if params[:locale] == 'en' %>
          <div class="t">Enter Live House</div>
          
        <% else %>
          <div class="t">点击进入直播间</div>
          
        <% end %>
        
      </div>
    </div>
  </div>
  
  <% end %>
  
    <div class="list">
      <!-- TODO: 活动数据，时间，名称 -->
      
      <% if I18n.locale == :en %>
        <% @schedules[:en].each do |schedule|%>
          <div class="node">
            <div class="time"></div>
            <div class="title"><a href="<%= schedule[:url]%>"><%= schedule[:title]%></a></div>
            <div class="tags">
            <% schedule[:tags].each do |tag|%>
              <span><%= tag%></span>
              <%end%>
            </div>
            <% schedule[:desc].each do |desc|%>

              <div class="desc"><%= desc %></div>
            
            <% end %>          </div>
        <% end %>
      <% else %>
        <% @schedules[:cn].each do |schedule|%>
          <div class="node">
            <div class="time"></div>
            <div class="title"><a href="<%= schedule[:url]%>"><%= schedule[:title]%></a></div>
            <div class="tags">
            <% schedule[:tags].each do |tag|%>
              <span><%= tag %></span>
            <%end%>
            </div>
            <% schedule[:desc].each do |desc|%>

              <div class="desc"><%= desc %></div>
            
            <% end %>
            
          </div>
        <% end %>
      <% end %>
    </div>
      
      
</div>
<div class="brands container padding">
  <div class="page-subtitle"><span><%= t('clothing_companies') %></span></div>
  <div class="content">
    <% @companies.each do |company| %>
      <a href="<%= company_path(company) %>" class="brand">
        <div class="i">
          <%= image_tag company.logo.url, :style => "width:100%; height:100%" if company.logo&.url %>
        </div>
        <div class="t"><%= company.name_i18n_show %></div>
      </a>
    
    <% end %>
    
  </div>
</div>
<div class="news container padding">
  <%# <div class="page-subtitle"><span>活动新闻</span></div> %>
  <% if I18n.locale == :en %>
  <%# <div class="container padding"> %>
    <div class="xxsb static-week">
      <div class="static-week-img-c">
        <img src="https://assets.zjzsxhy.com/upload/b8d8a075-6d09-495d-aca6-567fdb00eee0.jpg" alt="">
      </div>
      <div class="static-week-top">
· A whole new promotion and trading, platform for the clothes, bags, shoes and jewelry manufacturers and buyers.<br>
· Combination of dynamic and static show together.<br>
· Gathers the best talents and latest fashion resources all around the world and present them directly to buyers.<br>
· Promoting the communication and cooperation in the industries.<br>
<br>
<b>Time</b><br>
Phase 3 of Canton Fair<br>
(May 1st-5th/Oct. 31st -Nov. 4th)<br>
<br>
<b>Venue</b><br>
1. Hall 7.1 of Canton Fair Complex<br>
2. The Westin Pazhou<br>
3. PDC Design Gallery, Area A of Canton Fair Complex<br>
<br>
<b>Participants</b><br>
Designers, Brands, and Buyers for apparels, bags & suitcases, footwear, jewelry, etc.<br>
      </div>
      <div class="static-week-data">
        <div class="t1">Data List</div>
        <div class="t2">up to 126th Canton Fair</div>
        <div class="row week-data">
          <div class="r1">264</div>
          <div class="r2">185</div>
          <div class="r3">293 Million</div>
        </div>
        <div class="row">
          <div class="r1">Fashion Brands</div>
          <div class="r2">Fashion Designers</div>
          <div class="r3">toutiao.com</div>
        </div>
        <div class="row week-data">
          <div class="r1">129</div>
          <div class="r2">38000+</div>
          <div class="r3">1541.4 Million</div>
        </div>
        <div class="row">
          <div class="r1">Runway Shows</div>
          <div class="r2">Buyers</div>
          <div class="r3">Live Videos</div>
        </div>
      </div>
      <div class="static-week-pads">
        <div class="p1"><img src="https://assets.zjzsxhy.com/upload/d7add41c-6a1e-4671-b127-0c6d0425aec8.jpg" alt=""></div>
        <div class="p2"><img src="https://assets.zjzsxhy.com/upload/f3e5d73b-641a-4a61-96b4-5b1a75d09d8a.jpg" alt=""></div>
        <div class="p3"><img src="https://assets.zjzsxhy.com/upload/a8458131-410a-47a6-bc24-628d69a2730e.jpg" alt=""></div>
        <div class="p4"><img src="https://assets.zjzsxhy.com/upload/8ce5c946-c6b6-460e-b593-2eb83b9aa958.jpg" alt=""></div>
        <div class="logo"><img src="https://assets.zjzsxhy.com/upload/6988e1c0-887e-48c8-b03b-b3245b170a47.png" alt=""></div>
      </div>
      <div class="static-week-text">
        <div class="p1">
          <div class="title">HIGHLIGHTS OF<br>CANTON FAIR FASHION WEEK</div>
          <div class="p">
            Excellent Show Location<br>
            The venue of Canton Fair Fashion Week is located on the only corridor that all the buyers and exhibitors move into different halls. <br>
            <br>
            A gathering of Global buyers <br>
            During phase 3 of Canton Fair, there are more than 40,000 oversea buyers from industries of costume, shoes, cases and bags.<br>
            <br>
            Mainstream Media <br>
            As the highlight of Canton Fair, the show will be reported by more than 200 mainstream medias including CCTV, Sina, Tecent, People’s Daily, Guangdong TV, etc. <br>
            <br>
            Dynamic + Static Display <br>
            A combination of static booths with dynamic shows for product display.<br>
            <br>
            Design Service<br>
            PDC cooperates with famous designers to provide design services for manufacturers and promote industry transformation and upgrade.<br>
            <br>
            Theme: Original Design<br>
            Canton Fair Fashion Week mainly shows original design and focuses on high-end merchants who values design and innovation.<br>
          </div>
        </div>
        <div class="p2"><img src="https://assets.zjzsxhy.com/upload/3fb36db5-08bf-4f4f-9c7c-46e9ccdef5d3.jpg" alt=""></div>
        <div class="p3">
          <div class="title">Promotion</div>
          <div class="p">
            Preparations<br>
            - Maximum brand exposure will be guaranteed by PDC wechat, website and partners media.<br>
            - Cooperation with International Communication Department of Canton Fair, the Westin Pazhou and clothing trading markets to held promotion campaigns among buyers.<br>
            <br>
            During the fair<br>
            - Simultaneous broadcast by mobile live-streaming on LED screen in the Canton Fair Complex.<br>
            - Flyers distribution at the Buyers Registration and main entrance of Canton Fair Complex.<br>
            - Immediate reports right after the show.<br>
            <br>
            Follow-ups<br>
            Follow-up reports on successful business matching.<br>
          </div>
        </div>
        <div class="p4"><img src="https://assets.zjzsxhy.com/upload/4152fb44-d748-4342-895c-892588069eef.jpg" alt=""></div>
        <div class="p5">
          <div class="title">Buyers Invitation</div>
          <div class="p">
            - Various effective approaches applied by International Communication Department.<br>
            - Premium guests invitation by the Westin Pazhou<br>
            - Invitations befor the show begin in Canton Fair Complex.<br>
          </div>
        </div>
        <div class="p6">
          PDC provides<br>
          Full Screen LED Stage<br>
          Planning and Executions<br>
          Preofessional Models & Directors<br>
          Bilingual Hosts<br>
          Promotion Brochures <br>
          Live Video<br>
        </div>
      </div>
    </div>
  <%# </div> %>
  <% else %>
  <%# <div class="container padding"> %>
    <div class="xxsb static-week">
      <div class="static-week-img-c">
        <img src="https://assets.zjzsxhy.com/upload/b8d8a075-6d09-495d-aca6-567fdb00eee0.jpg" alt="">
      </div>
      <div class="static-week-top">
· 为服饰、箱包、鞋帽、珠宝等时尚类企业和采购商打造的全新展示模式<br>
· 动、静展示相结合<br>
· 展示品牌产品及设计师与供应链企业合作完成的原创产品<br>
· 通过设计提高产品附加值，促进行业交流与发展，促成订单成交<br>
<br>
<b>时间</b><br>
广交会第三期<br>
（5月1-5日 / 10月31日-11月4日）<br>
<br>
<b>秀场</b><br>
1. 广交会展馆A区7.1号馆（广交会时尚周主秀场） <br>
2.广交会威斯汀酒店 <br>
3. 广交会展馆A区PDC设计廊<br>
<br>
<b>参与对象</b><br>
服饰、箱包、鞋帽、珠宝等品牌企业、设计师和采购商<br>
      </div>
      <div class="static-week-data">
        <div class="t1">数据一览</div>
        <div class="t2">截至第126届广交会</div>
        <div class="row week-data">
          <div class="r1">264</div>
          <div class="r2">185</div>
          <div class="r3">293万</div>
        </div>
        <div class="row">
          <div class="r1">走秀品牌</div>
          <div class="r2">优秀服装设计师</div>
          <div class="r3">今日头条</div>
        </div>
        <div class="row week-data">
          <div class="r1">129</div>
          <div class="r2">38000+</div>
          <div class="r3">1541.4万</div>
        </div>
        <div class="row">
          <div class="r1">精彩走秀</div>
          <div class="r2">参与采购商</div>
          <div class="r3">直播</div>
        </div>
      </div>
      <div class="static-week-pads">
        <div class="p1"><img src="https://assets.zjzsxhy.com/upload/d7add41c-6a1e-4671-b127-0c6d0425aec8.jpg" alt=""></div>
        <div class="p2"><img src="https://assets.zjzsxhy.com/upload/f3e5d73b-641a-4a61-96b4-5b1a75d09d8a.jpg" alt=""></div>
        <div class="p3"><img src="https://assets.zjzsxhy.com/upload/a8458131-410a-47a6-bc24-628d69a2730e.jpg" alt=""></div>
        <div class="p4"><img src="https://assets.zjzsxhy.com/upload/8ce5c946-c6b6-460e-b593-2eb83b9aa958.jpg" alt=""></div>
        <div class="logo"><img src="https://assets.zjzsxhy.com/upload/6988e1c0-887e-48c8-b03b-b3245b170a47.png" alt=""></div>
      </div>
      <div class="static-week-text">
        <div class="p1">
          <div class="title">时尚周亮点</div>
          <div class="p">
            采购商云集<br>
            广交会第三期汇聚了来自全球40000名服装、鞋帽、箱包等行业的境外采购商。<br>
            动态走秀展示更能吸引采购商目光，大幅增加订单成交机会!<br>
            <br>
            走秀位置最优越<br>
            广交会时尚周秀场位于广交会展馆客流量最大、最密集区域，是展客商必经之处。<br>
            <br>
            主流媒体宣传<br>
            作为广交会的亮点，时尚周活动将得到来自逾200家主流媒体的关注，如央视、人民日报、新浪、腾讯等，是宣传企业品牌、提升企业形象的绝佳途径！<br>
            <br>
            主打原创设计<br>
            时尚周主打原创设计，更能吸引注重设计、创意的高端客商。<br>
            <br>
            动静立体展现<br>
            除了动态走秀，配有静态展示区域，全方位地展示走秀产品。<br>
            <br>
            设计服务<br>
            PDC联合知名设计师为参与时尚周的企业/品牌提供设计服务，助力转型升级！<br>
          </div>
        </div>
        <div class="p2"><img src="https://assets.zjzsxhy.com/upload/3fb36db5-08bf-4f4f-9c7c-46e9ccdef5d3.jpg" alt=""></div>
        <div class="p3">
          <div class="title">宣传计划</div>
          <div class="p">
            活动前<br>
            · 通过PDC微信、网站、合作媒体等宣传途径，广泛宣传活动及品牌，为活动预热造势，吸引目标人群关注；<br>
            · 联合广交会国际联络部、广交会威斯汀酒店、专业服装交易市场，向采购商精准宣传活动。<br>
            <br>
            活动中<br>
            · 运用当下最时尚的手机直播方式，结合馆内主通道的电视屏幕，实时直播走秀画面，吸引更多潜在客户关注；<br>
            · 在采购商报到处及主通道入口派发活动宣传单张；<br>
            · 活动结束当天及时推送相关报道。<br>
            <br>
            活动后<br>
            · 对走秀品牌与采购商的对接采购成果进行后续报道。<br>
          </div>
        </div>
        <div class="p4"><img src="https://assets.zjzsxhy.com/upload/4152fb44-d748-4342-895c-892588069eef.jpg" alt=""></div>
        <div class="p5">
          <div class="title">采购商邀请措施</div>
          <div class="p">
            · 联合广交会国际联络部，向来自逾200个国家和地区的国际采购商精准发送观秀邀请函。<br>
            · 联合广交会威斯汀酒店，向高端住店采购商提供观秀邀请函。<br>
            · 邀请国内专业买手及经销商等前来观秀。<br>
            · 开秀前，专人专版邀请函，邀请广交会国际采购商。<br>
          </div>
        </div>
        <div class="p6">
          PDC提供<br>
          LED全屏舞台<br>
          展示流程策划执行<br>
          专业走秀模特和导演<br>
          双语主持人<br>
          宣传画册<br>
          活动直播<br>
        </div>
      </div>
    </div>
  <%# </div> %>
  <% end %>
</div>