<% content_for :title do %>
  <title><%= t('Design')%></title>
<% end %>
<% content_for :javascript do %>
<%= javascript_include_tag "companyList.js" %>
<% end %>

<div class="header-banner">
  <!-- TODO: 大Banner，图片 -->
  <div class="swiper-wrapper">
  <% @banners.each do |banner| %>
    <div class="swiper-slide"><%= link_to banner.url do %>
      <img src=<%= banner.image.url %> alt="">
    <% end %>
    </div>
  <% end %>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<div class="container padding list" style="<%= @banners.present? ? '' : 'margin-top: 0'%>">
  <!-- TODO: 分类信息，链接 -->
  <div class="tabs">
    <a href="<%= companies_path %>" class="<%= params[:company_classify_id].present? ? '' : 'active' %>"><%= t('all') %></a>
    <% @company_classifies.each do |company_classify| %>
      <a href="<%= companies_path(:company_classify_id => company_classify.id) %>" class="<%= params[:company_classify_id] == company_classify.id.to_s ? 'active' : ''%>"><%= company_classify.name_i18n_show%></a>
    <% end %>
  </div>
  <!-- TODO: 本分类下公司列表 -->
  <div class="content">
  <% @companies.each do |company| %>
    <div class="company">
      <%= link_to company_path(company) do %>
        <div class="cover">
          <%= image_tag company.logo.url, :style => 'width: 100%; height: 100%;' if company.logo.present? %>
        </div>
      <% end %>
      <div class="name"><%= company.name_i18n_show%></div>
    </div>
  <% end %>
  </div>
  <%# <div class="more">
    <!-- TODO: 点击获取更多 -->
    <button>查看更多</button>
  </div> %>
</div>

<div class="intro container padding">

<% if I18n.locale == :en %>
  <%# <div class="container padding"> %>
    <div class="xxsb static-companies">
      <%# <div class="static-companies-top">
        <div class="t1">PDC DESIGN SHOW</div>
        <div class="t2">PDC设计展示</div>
        <div class="t3">During Canton Fair , PDC holds design show at the Pearl Promenade, the only main corridor connecting area A, B and C inside the Canton Fair complex, for design companies to show their concepts, innovation and products directly to Chinese enterprises and global buyers.</div>
      </div> %>
      <div class="static-companies-middle">
        <div class="left">
          <div class="text">
            <div>Up to May 2020, PDC Design Show has accumulated 1463 times of design companies/organizations from 22 countries and regions to participate, including U.S., Australia, U.K., France, Germany, Greece, the Netherlands, Italy, India, Japan, Korea, Portugal, Russian, Turkey, Singapore, Spain, Sweden, Denmark, U.A.E. , Hong Kong, Taiwan and Chinese Mainland. The display area of PDC Design Show is 21483 m2.</div>
            <div><br>Up to May 2020, the number of prospective customers developed by design companies via PDC Design Show has reached 235383, with approximately 77402 potential contracts (some signed already).</div>
          </div>
        </div>
        <div class="right">
          <img src="https://assets.zjzsxhy.com/upload/feed9c9d-697e-46a2-9b8e-47d83e01ede1.jpg" alt="">
        </div>
      </div>
      <div class="static-companies-bottom">
        <div class="text">
          <div class="title">Canton Fair Product Categories</div>
          <div>
            Phase I<br>
            April 15th-19th / Oct 15th-19th<br>
            Electronic products, Household Electrical Appliances, Sanitary and Bathroom Equipment, Building Materials and Lighting Equipment, Machinery, Vehicle and Spare Parts.<br>
            <br>
            Phase II<br>
            April 23rd-27th / Oct 23rd-27th<br>
            Consumer goods, Gifts and Premiums, Home Decorations, Furniture, Toys, Ceramics, Clocks, Watches & Optical Instruments, Personal Care Products.<br>
            <br>
            Phase III<br>
            May 1st-5th / Oct 31st-Nov 4th<br>
            Textiles & Garments, Shoes, Stationary & Office Supplies, Cases and Bags, Medicines, Medical Devices and Health Products, Food.<br>
          </div>
          <div class="title">Design Show Exhibitors</div>
          <div>Design companies/organizations of Product design, Packaging design, Fashion Design, Branding & Marketing, and Trend Forecasting, in which related to the Canton Fair product categories.</div>
        </div>
      </div>
      <div class="static-companies-extra">
        <div class="static-companies-contact-text">
          <div>Contact：</div>
          <div class="row">
            <div class="label">&nbsp;</div>
            <div class="t">Ms. Easy Chen</div>
            <div class="t">Ms. Cici Su</div>
          </div>
          <div class="row">
            <div class="label">Tel:</div>
            <div class="t">+86 13922239193</div>
            <div class="t">+86 15122381973</div>
          </div>
          <div class="row">
            <div class="label">E-mail:</div>
            <div class="t">easy@pdc.org.cn</div>
            <div class="t">cici@pdc.org.cn</div>
          </div>
          <div class="row">
            <div class="label">Add:</div>
            <div class="t">1506, Lel15, Canton Fair Tower, 679 Feng Pu Mid Rd, Guangzhou, China</div>
          </div>
        </div>
      </div>
    </div>
  <%# </div> %>
<% else %>
  <%# <div class="container padding"> %>
    <div class="xxsb static-companies">
      <%# <div class="static-companies-top">
        <div class="t1">PDC DESIGN SHOW</div>
        <div class="t2">PDC设计展示</div>
        <div class="t3">PDC在广交会展馆内人流最密集的珠江散步道上设立设计展位，向广交会优秀供应链企业和国际买家近距离展示设计师的设计概念、创意和产品，促进设计供需双方现场洽谈、高效合作。</div>
      </div> %>
      <div class="static-companies-middle">
        <div class="left">
          <div class="text">
            <div>截至2020年5月，已累计有来自美国、澳大利亚、英国、法国、德国、希腊、荷兰、意大利、印度、日本、韩国、葡萄牙、俄罗斯、土耳其、新加坡、西班牙、瑞典、丹麦、阿联酋及香港、台湾和中国大陆等22个国家和地区的设计公司/机构1463次参加PDC设计展示，展示面积累计21483平方米。</div>
            <div>截至2020年5月，设计公司在展位上洽谈的意向客户约235383个，潜在签约（部分已签约）项目约77402个。</div>
          </div>
          <div class="static-companies-contact-text">
            <div>联系人：</div>
            <div class="row">
              <div class="label">&nbsp;</div>
              <div class="t">陈小姐</div>
              <div class="t">苏小姐</div>
            </div>
            <div class="row">
              <div class="label">电话：</div>
              <div class="t">13922239193</div>
              <div class="t">15122381973</div>
            </div>
            <div class="row">
              <div class="label">邮箱：</div>
              <div class="t">easy@pdc.org.cn</div>
              <div class="t">cici@pdc.org.cn</div>
            </div>
            <div class="row">
              <div class="label">地址：</div>
              <div class="t">广州市海珠区凤浦中路679号广交会大厦1506</div>
            </div>
          </div>
        </div>
        <div class="right">
          <img src="https://assets.zjzsxhy.com/upload/feed9c9d-697e-46a2-9b8e-47d83e01ede1.jpg" alt="">
        </div>
      </div>
      <div class="static-companies-bottom">
        <div class="text">
          <div class="title">广交会参展时间及行业类别</div>
          <div>第一期<br>
            4月15-19日/10月15-19日<br>
            电子产品，家用电器，卫浴设备，建材，照明产品，机械，车辆及配件等<br>
            <br>
            第二期<br>
            4月23-27日/10月23-27日<br>
            日用消费品，礼品，家居装饰品，家具，玩具，陶瓷，个人护理用具，钟表眼镜等<br>
            <br>
            第三期<br>
            5月1-5日/10月31日-11月4日<br>
            纺织服装，鞋，办公用品，箱包，医疗器械，医药及医疗保健，食品等<br>
          </div>
          <div class="title">PDC设计展示参展主体</div>
          <div>与以上产品领域相关的产品设计、品牌战略、包装设计、时尚设计和潮流资讯公司/机构。</div>
        </div>
      </div>
    </div>
  <%# </div> %>
  <% end %>
</div>

