<% content_for :title do %>
<title><%= t('Live')%></title>
<% end %>

<% content_for :javascript do %>
<%= javascript_include_tag "livelist.js" %>
<% end %>

<div class="tabs">
  <a href="<%= lives_path(:classify => 'canton_fair') %>" class="tab <%= params[:classify] == 'canton_fair' ? 'active' : '' %>"><%= t('conton_fair_live')%></a>
  <a href="<%= lives_path(:classify => 'activity') %>" class="tab <%= params[:classify] == 'activity' ? 'active' : '' %>"><%= t('activity_live')%></a>
  <a href="<%= lives_path(:classify => 'design') %>" class="tab <%= params[:classify] == 'design' ? 'active' : '' %>"><%= t('design_live')%></a>
  <a href="<%= lives_path(:classify => 'clothing') %>" class="tab <%= params[:classify] == 'clothing' ? 'active' : '' %>"><%= t('clothing_live')%></a>
  <a href="<%= lives_path(:classify => 'manufacture') %>" class="tab <%= params[:classify] == 'manufacture' ? 'active' : '' %>"><%= t('manufacture_live')%></a>
</div>
<div class="list container padding">
  <!-- TODO: 直播列表，图片，用户，一个时间（？） -->
  <div class="content">
  <% @lives.each do |live| %>
    <a href="<%= life_path(live)%>" class="live">
      <div class="cover">
        <%= image_tag live.image.url if live.image.url %>
      </div>
      <div class="title"><%= live.name_i18n_show %></div>
      <div class="info">
        <div class="name"><%= live.company&.name_i18n_show || live.author %></div>
        <%# <div class="time">2018-12-10</div> %>
      </div>
    </a>
  <% end %>
  
    <%# <a href="#" class="live">
      <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/52820155-39b6-4ad0-80be-6cb7a0b8366a.jpg);"></div>
      <div class="title">直播标题</div>
      <div class="info">
        <div class="name">用户</div>
        <div class="time">2018-12-10</div>
      </div>
    </a>
    <a href="#" class="live">
      <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/52820155-39b6-4ad0-80be-6cb7a0b8366a.jpg);"></div>
      <div class="title">直播标题</div>
      <div class="info">
        <div class="name">用户</div>
        <div class="time">2018-12-10</div>
      </div>
    </a>
    <a href="#" class="live">
      <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/52820155-39b6-4ad0-80be-6cb7a0b8366a.jpg);"></div>
      <div class="title">直播标题</div>
      <div class="info">
        <div class="name">用户</div>
        <div class="time">2018-12-10</div>
      </div>
    </a>
    <a href="#" class="live">
      <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/52820155-39b6-4ad0-80be-6cb7a0b8366a.jpg);"></div>
      <div class="title">直播标题</div>
      <div class="info">
        <div class="name">用户</div>
        <div class="time">2018-12-10</div>
      </div>
    </a>
    <a href="#" class="live">
      <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/52820155-39b6-4ad0-80be-6cb7a0b8366a.jpg);"></div>
      <div class="title">直播标题</div>
      <div class="info">
        <div class="name">用户</div>
        <div class="time">2018-12-10</div>
      </div>
    </a>
    <a href="#" class="live">
      <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/52820155-39b6-4ad0-80be-6cb7a0b8366a.jpg);"></div>
      <div class="title">直播标题</div>
      <div class="info">
        <div class="name">用户</div>
        <div class="time">2018-12-10</div>
      </div>
    </a>
    <a href="#" class="live">
      <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/52820155-39b6-4ad0-80be-6cb7a0b8366a.jpg);"></div>
      <div class="title">直播标题</div>
      <div class="info">
        <div class="name">用户</div>
        <div class="time">2018-12-10</div>
      </div>
    </a>
    <a href="#" class="live">
      <div class="cover" style="background-image: url(https://assets.zjzsxhy.com/upload/52820155-39b6-4ad0-80be-6cb7a0b8366a.jpg);"></div>
      <div class="title">直播标题</div>
      <div class="info">
        <div class="name">用户</div>
        <div class="time">2018-12-10</div>
      </div>
    </a> %>
  </div>
</div>