<footer class="main-footer">
  <div class="container padding">
    <div class="footer-b1">
      <div class="cgb">
        <img src="<%= image_url 'footer.png'%>" alt="">
        <!-- <div class="info">
          <div class="t1"><%= t('footer.info.t1') %></div>
          <div class="t2"><%= t('footer.info.t2') %></div>
        </div> -->
      </div>
      <div class="t3"><%= t('footer.info.t3') %></div>
      <div class="t4">LINKING DESIGN AND INDUSTRY，CREATING VALUE FOR BUSINESS</div>
    </div>
    <div class="footer-b2">
      <% if I18n.locale != :en %>
        <div class="qrcode"><img src="https://assets.zjzsxhy.com/upload/fddf9d89-1248-4880-9838-bfab50f2601f.png" alt=""></div>
        <div class="t1"><%= t('footer.footer-b2.t1') %></div>
      <% end %>
    </div>
    <div class="footer-b3">
      <div class="row">
        <span class="icon"><img src="https://assets.zjzsxhy.com/upload/62326a85-5fab-4f04-a67e-38371dc25e50.svg" alt=""></span>
        <span>020-89181840/89181834</span>
      </div>
      <div class="row">
        <span class="icon"><img src="https://assets.zjzsxhy.com/upload/127c8a23-22a2-4322-87b7-13459b153fdf.svg" alt=""></span>
        <span>pdc@pdc.org.cn</span>
      </div>
      <div class="row">
        <span class="icon"><img src="https://assets.zjzsxhy.com/upload/8b95b781-82db-47f6-9fcc-7a6f07d268dc.svg" alt=""></span>
        <span>020-89181800</span>
      </div>
      <div class="row">
        <span class="icon"><img src="https://assets.zjzsxhy.com/upload/a9060ac9-de56-4db3-93e6-aa2fb39ae374.svg" alt=""></span>
        <span><%= raw t('footer.footer-b3.address') %></span>
      </div>
    </div>
  </div>
  <div class="container padding copyright">
    <div>广交会产品设计与贸易促进中心版权所有   广东省通信管理局 粤ICP备20047430号-1</div>
    <div>建议使用Chrome浏览器和1440*900以上的分辨率，以获得最佳浏览效果。</div>
  </div>

</footer>
