<!DOCTYPE html>
<html lang="en">
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%= yield :title %>
  <script src="https://s1.pstatp.com/cdn/expire-1-y/jquery/3.4.0/jquery.min.js" type="application/javascript"></script>
  <script src="https://s0.pstatp.com/cdn/expire-1-y/noty/3.2.0-beta/noty.min.js" type="application/javascript"></script>
  <link href="https://s2.pstatp.com/cdn/expire-1-y/normalize/8.0.1/normalize.min.css" type="text/css" rel="stylesheet" />
  <link href="https://s2.pstatp.com/cdn/expire-1-y/noty/3.2.0-beta/noty.css" type="text/css" rel="stylesheet" />
  <script src="https://s3.pstatp.com/cdn/expire-1-y/Swiper/4.5.0/js/swiper.min.js" type="application/javascript"></script>
  <link href="https://s3.pstatp.com/cdn/expire-1-y/Swiper/4.5.0/css/swiper.min.css" type="text/css" rel="stylesheet" />
  <link href="https://s2.pstatp.com/cdn/expire-1-y/simplebar/4.0.0-alpha.6/simplebar.min.css" type="text/css" rel="stylesheet" />
  <script src="https://s2.pstatp.com/cdn/expire-1-y/simplebar/4.0.0-alpha.6/simplebar.min.js" type="application/javascript"></script>

  <%= stylesheet_link_tag 'style.css' %>
  <%# <link href="https://x-assets.coinvoice.cn/static/style.48b8d898.css" rel="stylesheet"></head> %>
  <body id="<%= @page_id %>">
    <%= yield %>
    <%= javascript_include_tag 'style.js' %>
    <%= yield :javascript %>
  
  <%# <script type="text/javascript" src="https://x-assets.coinvoice.cn/static/style.48b8d898.js"></script><script type="text/javascript" src="https://x-assets.coinvoice.cn/static/home.73fa9a64.js"></script> %>
  </body>
</html>